/* Melhorias nos cards */
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão do projeto */
.card .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn:hover {
    background-color: #007bff;
    color: white;
}

/* Adicionando efeito de hover nos botões de redes sociais */
.btn-outline-dark {
    transition: color 0.3s ease, border-color 0.3s ease;
}

.btn-outline-dark:hover {
    color: #007bff;
    border-color: #007bff;
}

/* Efeito de fade-in */
.fade-in {
    animation: fadeIn 1s ease-out;
}

/* Definir o tamanho das imagens e o formato circular */
.card-img-top.rounded-circle {
    width: 150px;  /* Ajuste o tamanho para o que preferir */
    height: 150px;  /* Certifique-se de que seja igual a largura para manter o formato redondo */
    object-fit: cover;  /* Garante que a imagem se ajuste bem dentro da área circular */
}

/* Estilização dos botões do carrossel */
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    opacity: 0.8;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        width: 10%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        padding: 8px;
    }
}

.nav-link:hover {
    color: #f8d210 !important; /* Um destaque sutil */
    transform: scale(1.05);
    transition: 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
